@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../src/assets/images/homeBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}