button:hover {
  cursor: pointer;
}

.Navbar {
  background-color: #19686f;
  width: 100%;
  height: 80px;
  display: flex;
  position: static;
}

.Navbar .leftSide {
  flex: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide .items {
  max-height: 80px;
}

.Navbar .leftSide .items button {
  font-family: Montserrat, sans-serif;
  font-size: 20.5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 15px;
  box-shadow: 0 0.2rem 0.5em 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.Navbar .leftSide .items button:hover {
  background-color: var(--primary-dark);
}

.dropbar {
  display: none;
  margin-left: 20px;
}

.Navbar .leftSide #hidden {
  display: flex;
}

.Navbar .leftSide .items select {
  font-family: Montserrat, sans-serif;
  font-size: 20.5px;
  margin-left: 15px;
  box-shadow: 0 0.2rem 0.5em 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 2px solid var(--gray200);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background: none;
}

.Navbar .leftSide .items select option {
  background-color: var(--formBackground);
}

.Navbar .leftSide .items select:hover {
  border-color: var(--primary);
}

.Navbar .leftSide .items select:focus {
  border-color: var(--primary-dark);
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  padding-top: 1px;
}

.Navbar .rightSide button {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  margin-left: 15px;
  height: 48px;
  width: 180px;
  box-shadow: 0 0.2rem 0.5em 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}

.Navbar .rightSide button:hover {
  background-color: var(--primary-dark);
}

@media only screen and (max-width: 1640px) {
  .Navbar .leftSide .items button {
    font-size: 20px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 20px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1588px) {
  .Navbar .leftSide .items button {
    font-size: 19px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 19px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1548px) {
  .Navbar .leftSide .items button {
    font-size: 18px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 18px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1509px) {
  .Navbar .leftSide .items button {
    font-size: 17px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 17px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1467px) {
  .Navbar .leftSide .items button {
    font-size: 16px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 16px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1427px) {
  .Navbar .leftSide .items button {
    font-size: 15px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 15px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1388px) {
  .Navbar .leftSide .items button {
    font-size: 14px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 14px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1348px) {
  .Navbar .leftSide .items button {
    font-size: 13px;
    margin: 5px;
  }

  .Navbar .leftSide .items select {
    font-size: 13px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1310px) {
  .dropbar {
    display: flex;
  }

  .Navbar .leftSide .items {
    display: none;
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 260px;
    max-height: 260px;
    width: 100%;
    background-color: #19686f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .leftSide #hidden button {
    margin: 10px;
    font-size: 18px;
  }

  .Navbar .leftSide #hidden select {
    margin: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 880px) {
  .dropbar {
    display: flex;
  }

  .Navbar .leftSide .items {
    display: none;
  }

  .Navbar .rightSide button {
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 260px;
    max-height: 260px;
    width: 100%;
    background-color: #19686f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .leftSide #hidden button {
    margin: 10px;
    font-size: 18px;
  }

  .Navbar .leftSide #hidden select {
    margin: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 750px) {
  .Navbar .leftSide .items button {
    font-size: 15px;
  }

  .Navbar .leftSide .items select {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .dropbar {
    display: flex;
  }

  .Navbar .leftSide .items {
    display: none;
  }

  .Navbar .rightSide button {
    display: none;
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 270px;
    max-height: 270px;
    width: 100%;
    background-color: #19686f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .leftSide #hidden button {
    margin: 10px;
    font-size: 18px;
  }

  .Navbar .leftSide #hidden select {
    margin: 10px;
    font-size: 18px;
  }
}
